if job
  h2= job.jobtitle + '-' + job.company

  table

    tr
      td(class='job_description') Erstellt:
      td= locals.formatDate(job.date)

    tr
      td(class='job_description') Firma:
      td= job.company

    tr
      td(class='job_description') Website:
      td
        a(class='jobwebsite', href='#{job.website}') #{job.website}

    tr
      td(class='job_description') Ort:
      td= job.location

    tr
      td(class='job_description') Wie bewerben:
      td= job.howtoapply

  div(class='job_description_share')
    if tweettext
      a(href='http://twitter.com/home?status=#{tweettext}', target='_blank')
        span(class='tweet-icon')
        span Tweet Job

  div!= job.description

else
  div.error Kein Job mit dieser Id!
