extends ../layout

block content

  if job
    h2= job.jobtitle
    span Datum: &nbsp;
    span= job.date
    br
    span Firma: &nbsp;
    span= job.company
    br
    span Website: &nbsp;
    a(href='#{job.website}') #{job.website}
    br
    span Ort: &nbsp;
    span= job.location
    br
    span Wie bewerben: &nbsp;
    span= job.howtoapply
    div
      span Beschreibung &nbsp;
      span= job.description
  else
    div.error Kein Job mit dieser Id!
