extends ../layout

block content
  h2= i18n.t('Create a new job')

  form(method='post', action='/jobs')
    input(class='span9', type='text', name='jobtitle', placeholder='Jobtitel', value=job.jobtitle)
    br
    input(class='span9', type='text', name='company', placeholder='Firma', value=job.company)
    br
    input(class='span9', type='text', name='website', placeholder='Website', value=job.website)
    br
    input(class='span9', type='text', name='location', placeholder='Ort', value=job.location)
    br
    textarea(class='span9', rows='15', name='description', placeholder='Beschreibung', value=job.description)
    br
    textarea(class='span9', rows='10', name='howtoapply', placeholder='Wie bewerben', value=job.howtoapply)
    br
    button(type='submit') Submit