extends ../layout

block content
  h1= i18n.t('Create new job')

  form(method='post', action='/jobs')
    input(type='text', name='jobtitle', placeholder='Jobtitle', value=job.jobtitle)
    input(type='text', name='company', placeholder='Company', value=job.company)
    input(type='text', name='website', placeholder='Website', value=job.website)
    input(type='text', name='location', placeholder='Location', value=job.location)
    input(type='textarea', name='description', placeholder='Description', value=job.description)
    input(type='text', name='howtoapply', placeholder='How to apply', value=job.howtoapply)
    button(type='submit', value='Submit')