extends ../layout

block content
  h2 Jobangebot prüfen

  div
    if job
      form(method='post', action='/jobs/new/confirm')
        span Jobtitle
        span= job.jobtitle
        br
        span Company
        span= job.company
        br
        span Website
        span= job.website
        br
        span Location
        span= job.location
        br
        span Description
        span= job.description
        br
        span How to apply
        span= job.howtoapply

        button(type='submit') Submit

      a(href='/jobs/new') Back
    else
      div Error