extends ../layout

block content
  h2 Jobangebot prüfen

  div(class='span9')
    if job
      form(method='post', action='/jobs/new/confirm')
        span Jobtitel: &nbsp;
        span= job.jobtitle
        br
        span Firma: &nbsp;
        span= job.company
        br
        span Website: &nbsp;
        span= job.website
        br
        span Ort: &nbsp;
        span= job.location
        br
        span Beschreibung: &nbsp;
        span= job.description
        br
        span Wie bewerben: &nbsp;
        span= job.howtoapply
        br
        br
        button(type='submit') Submit

      a(href='/jobs/new') Back
    else
      div Error