extends layout

block content

  h2 node.js und Frontend Entwickler
  div Suchen Sie JavaScript Entwickler im Bereich Frontend oder Backend fest oder als freier Entwickler?
  div Sie sind JavaScript Entwickler auf Jobsuche?
  br
  div JavaScript Jobs: JavaScript im Frontend oder im Backend mit Node.js - mit JavaScript Jobs können Sie Jobs für JavaScript kostenlos einstellen oder suchen.
  br

  a(href='/jobs/new') Neuen JavaScript Job erstellen

  h2 Jobs
  if (typeof joblist != 'undefined' && typeof joblist[0] != 'undefined')
    div Letzter Eintrag: &nbsp;
      span= locals.prettyDate(joblist[0].date)

    div(id='joblist')
      ul
        each job in joblist
          li
            a(href='/jobs/#{job.id}')
              span(class='new-badge')
                span(class='badge badge-info') NEU
              span #{job.location} &nbsp;
              span #{job.jobtitle} &nbsp;
              span #{job.company} &nbsp;
              span= locals.formatDate(job.date)

    a(href='/jobs/new') Neuen JavaScript Job erstellen

block foot
  include includes/footer_missing_home